@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #FBF5F1;
  --background-end-rgb: #FBF5F1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #FBF5F1;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-color: #2B1B12;
  }
}

.font-primary {
  @apply text-custom1 font-font1 font-bold text-5xl
}
.image-style {
  object-fit: cover;
  object-position: center;
}

body {
  color: rgb(var(--text-color));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-rgb))
    )
    rgb(var(--background-start-rgb));
    padding: 0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
/* main {
  overflow: hidden;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com'),
        url('https://fonts.gstatic.com'),
        url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'),;
  font-weight: normal;
  font-style: normal;
} */
