@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-color: #2B1B12;
  }
}

body {
  color: rgb(var(--text-color));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-rgb))
    )
    rgb(var(--background-start-rgb));
    padding: 35px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com'),
        url('https://fonts.gstatic.com'),
        url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'),;
  font-weight: normal;
  font-style: normal;
} */
